header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: darkslategray;
    color: lightblue;
    text-decoration: underline solid lightblue 2px;
}
main {
    background-color: beige;
}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 30vw;
    list-style: none;
}
h1{
    font-size: 3vw;
    background-color: lightblue;
    color: darkslategray;
}
nav a {
    color: lightblue;
    text-decoration: none;
    font-size: 1.5vw;
}
#container{
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
}
#about-me{
    flex:1;
    border-right: solid 0.25vw darkslategray;
}
#about-me-info{
    flex:5;
}
#about-me-info p {
    padding: 1% 10%;
    font-size: 1.5vw;
}
#container2{
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
}
#work{
    flex:1;
    border-right: solid 0.25vw darkslategray;
}
#projects{
    flex:5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.project{
    border: solid 5px lightblue;
    width: 37.5vw;
    height: 25vw;
    opacity: 0.75;
}
.proj-2{
    background-image: url("../images/tom-sodoge-cSjQJT0t2vA-unsplash.jpg");
    background-size: contain;
}
.proj-3{
    background-image: url("../images/stephen-phillips-hostreviews-co-uk-aE0iX-bLCJc-unsplash\ \(1\).jpg");
    background-size: contain;
}
.proj-4{
    background-image: url("../images/nejc-soklic-2jTu7H9l6JA-unsplash.jpg");
    background-size: contain;
}
.proj-5{
    background-image: url("../images/jo-szczepanska-9OKGEVJiTKk-unsplash.jpg");
    background-size: contain;
}
.project:hover{
    transition: 0.5s ease-in-out;
    opacity: 1;
}
.main-p{
    width: 75vw;
    height: 50vw;
    background-image: url("../images/octavian-dan-b21Ty33CqVs-unsplash.jpg");
    background-size: contain;
}
#container3{
    display: flex;
    padding-top: 1%;
    padding-bottom: 3%;
}
#contact-me{
    flex:1;
    border-right: solid 0.25vw darkslategray;
}
#contact-me-links{
    flex:5;
}
figure img {
    width: 100%;
}
h2{
    color:darkslategray;
    display:flex;
    justify-content: flex-end;
    padding-right: 1%;
    font-size: 3vw;
}
#contact-me-links ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    font-size: 1.5vw;
}
.text-box {
    position: relative;
    background-color: lightblue;
    font-size: 1.5vw;
    width: 10vw;
    text-align: center;
    top: 70%;
}